.popup__job {
  min-width: 238px;
  min-height: 26px;
  padding: 0;
  padding-left: 22px;
  border: none;
  border-color: none;
}


@media screen and (min-width: 779px) {
  .popup__job {
    padding-left: 36px;
  }
}

.popup__job:focus {
  outline-style: none;
}