.page {
  min-width: 320px;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: black;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
}

/* !не забыть исправить */
[class*="__container"] {
  margin-left: 19px;
  margin-right: 19px;
}


@media screen and (min-width: 1024px) {
  [class*="__container"] {
    margin-left: 200px;
    margin-right: 200px;
  }
}